html { background-color: #2F2F2F; color: #CACACA; }
* { margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; }
@media(max-width: 545px) { nav {  display: none; } }
@keyframes pagedrop { 0% { top: 0%; } 100% { top: 100%; } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
nav { top: 0%; width: 50px; }
nav li a {
    color: white;
    display: block;
    line-height: 40px;
    padding: 20% 0 0 25%;
}
nav li:nth-child(1) a { background: #4267B2; }
nav li:nth-child(2) a { background: #333; }
nav li:nth-child(3) a { background: #2867B2; }
nav li:nth-child(4) a { background: #FF0000; }
nav li a i { font-size: 27px; }
ul li a:hover i { margin-left: 40%;}
nav ul li a:hover {
    z-index: 1;
    width: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* text-align: center; */
    padding: 0 20% 0 20%;
}
.app > p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4em;
    word-spacing: .4em;
}
.app > h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 1.7em;
}
#loader {
    position: relative;
    border: 10px solid #CACACA;
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    animation: spin 1.2s linear;
}
#loader > img {
    border-radius: 50%;
    margin-left: 15px;
    height: 100%;
}
#preload {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    transition-delay: 2.8s;
    animation: pagedrop 1.5s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

.awssld__bullets {
    z-index: 2;
    position: fixed; 
    align-items: flex-end !important;
    bottom: 0px !important;
}
.awssld{
    position: fixed !important;
    top: 0;
    z-index: -1;
    height: 100vh;
}
.awssld_box{
    display: flex;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}